<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Qld Crash Data.</title>
    <!--<link rel="stylesheet" href="style.css"> -->
    <!-- <script src='https://cdn.plot.ly/plotly-2.12.1.min.js'></script>  -->
    <!-- <script src="https://d3js.org/d3.v4.min.js"></script> -->
    <script src='/static/plotly-2.12.1.min.js'></script>
    <script src="/static/d3.v4.min.js"></script>
    <style>
      .chart {
        width:85%;height:50%;
      }
    </style>
  </head>
  <body>
    <div id='mychart1' class='chart'>loading data, plotting chart here.</div>
    Data Source : <a href="https://www.data.qld.gov.au/dataset/crash-data-from-queensland-roads/resource/dd13a889-2a48-4b91-8c64-59f824ed3d2c">Qld Crash Data</a>
  <script>
    d3.json("/get_Count_Crashes_By_Year_By_Overseas_Licensed_Driver", function(data) {
      //console.log("data\n", data)
      console.log("data.data\n", data.data)
      console.log("data.data.length\n", data.data.length)
      console.log("data.index\n", data.index)
      x=[]
      y_overseas_driver=[]
      y_domestic_driver=[]
      y_error=[]
      for (let i = 0; i < data.data.length; i++) {
      //for (let i = 0; i < 5; i++) {
        console.log(i, data.data[i])
        x.push(data.data[i][0])
        y_overseas_driver.push(data.data[i][1]);
        y_domestic_driver.push(data.data[i][2]);
      }
      console.log("x:", x)
      console.log("y_overseas_driver:", y_overseas_driver)
      console.log("y_domestic_driver:", y_domestic_driver)
      console.log("y_error:", y_error)
      //
      var trace1 = {
          x: x,
          y: y_overseas_driver,
          name: 'Overseas Licenced Driver',
          type: 'bar'
        };
      //
      var trace2 = {
          x: x,
          y: y_domestic_driver,
          name: 'Australian Licenced Driver',
          type: 'bar'
        };
      //
      //
      var plot_data = [trace1, trace2];
      var layout = {barmode: 'stack'};
      document.getElementById("mychart1").innerHTML = ""
      //nb: Plotly.newPlot has to be the last action within d3.json.
      Plotly.newPlot('mychart1', plot_data,  layout);
    })
    //https://plotly.com/javascript/bar-charts/#stacked-bar-chart
  </script>
  </body>
</html>
