<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Qld Crash Data.</title>
  </head>
  <body>
    Qld Crash Data : brief and simple exploration.
    <hr>
    <div><a href="/get_html/traffic_census_2020.html">traffic_census_2020</a></div>
    <div><a href="/get_html/traffic_census_user.html">traffic_census_user</a></div>
    <hr>
    <div>dataset : crash_data_queensland_e_alcohol_speed_fatigue_defect</div>
    <div><a href="/get_html/Crash_locations_alcohol_speed_fatigue_defective_vehicle.html">Crash_locations_alcohol_speed_fatigue_defective_vehicle</a></div>
    <hr>
    <div>dataset : crash_data_queensland_1_crash_locations</div>
    <div><a href="/get_html/Crash_locations_by_postcode_select_year.html">Crash_locations_by_postcode_select_year</a></div>
    <div><a href="/get_html/Crash_locations_vehicle_type_by_postcode_select_year.html">Crash_locations_vehicle_type_by_postcode_select_year</a></div>
    <hr>
    <div>dataset : crash_data_queensland_b_driver_involvement</div>
    <div><a href="/get_html/Count_Crashes_By_Year.html">Chart : crashes by year</a></div>
    <div><a href="/get_html/Count_Crashes_By_Year_By_Age.html">Chart : crashes by Year & Age<filename></a></div>
    <div><a href="/get_html/Count_Crashes_By_Year_By_Gender.html">Chart : crashes by Gear and Gender<filename></a></div>
    <div><a href="/get_html/Count_Crashes_By_Year_By_International_Driver.html">Chart : crashes by year and Au or International drivers<filename></a></div>
    <div><a href="/get_html/Count_Crashes_By_Year_By_Provisional_Driver.html">Chart : crashes by year and Provisional or Open licence.</a></div>
    <div><a href="/get_html/Count_Crashes_By_Year_Region.html">Chart : crashes by year and region.</a></div>
    <hr>
  <script>
  </script>
  </body>
</html>
