<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Qld Crash Data.</title>
  </head>
  <body>
    Qld Crash Data : brief and simple exploration.
    <hr>
    <div>dataset : crash_data_queensland_e_alcohol_speed_fatigue_defect</div>
    <div><a href="/get_html/Crash_locations_alcohol_speed_fatigue_defective_vehicle.html">Crash_locations_alcohol_speed_fatigue_defective_vehicle</a></div>
    <hr>
    <div><a href="/get_alcohol_speed_fatigue_defect">get_alcohol_speed_fatigue_defect</a></div>
    <div><a href="/get_alcohol_speed_fatigue_defect_years">get_alcohol_speed_fatigue_defect_years</a></div>
    <hr>
    <div>dataset : crash_data_queensland_1_crash_locations</div>
    <div><a href="/get_html/Crash_locations_by_postcode_select_year.html">Crash_locations_by_postcode_select_year</a></div>
    <div><a href="/get_html/Crash_locations_vehicle_type_by_postcode_select_year.html">Crash_locations_vehicle_type_by_postcode_select_year</a></div>
    <hr>
    <div><a href="/get_crash_locations_postcode">get_crash_locations_postcode</a></div>
    <div><a href="/get_crash_vehicle_type_by_year_by_postcode">get_crash_vehicle_type_by_year/2020</a></div>
    <hr>
    <div>dataset : crash_data_queensland_b_driver_involvement</div>
    <div><a href="/get_html/Count_Crashes_By_Year.html">Chart : crashes by year</a></div>
    <div><a href="/get_html/Count_Crashes_By_Year_By_Age.html">Chart : crashes by Year & Age<filename></a></div>
    <div><a href="/get_html/Count_Crashes_By_Year_By_Gender.html">Chart : crashes by Gear and Gender<filename></a></div>
    <div><a href="/get_html/Count_Crashes_By_Year_By_International_Driver.html">Chart : crashes by year and Au or International drivers<filename></a></div>
    <div><a href="/get_html/Count_Crashes_By_Year_By_Provisional_Driver.html">Chart : crashes by year and Provisional or Open licence.</a></div>
    <div><a href="/get_html/Count_Crashes_By_Year_Region.html">Chart : crashes by year and region.</a></div>
    <div><a href="/get_html/explore_data.html">explore_data.html</a></div>
    <hr>
    <div><a href="/get_max_min/<col_name>">get_max_min/<col_name></a></div>
    <div><a href="/get_col_unique_2_json/<col_name>">get_col_unique_2_json/<col_name></a></div>
    <div><a href="/get_colnames">get_colnames</a></div>
    <div><a href="/get_Count_Crashes_By_Year_By_Overseas_Licensed_Driver">get_Count_Crashes_By_Year_By_Overseas_Licensed_Driver</a></div>
    <div><a href="/get_Count_Crashes_By_Year_By_Provisional_Driver">get_Count_Crashes_By_Year_By_Provisional_Driver</a></div>
    <div><a href="/get_Count_Crashes_By_Year_By_Age">get_Count_Crashes_By_Year_By_Age</a></div>
    <div><a href="/get_Count_Crashes_By_Year_By_Gender">get_Count_Crashes_By_Year_By_Gender</a></div>
    <div><a href="/get_Count_Crashes_By_Year">get_Count_Crashes_By_Year</a></div>
    <div><a href="/get_Crash_Police_Regions">get_Crash_Police_Regions</a></div>
    <div><a href="/get_data">get_data</a></div>
    <hr>
  <script>
  </script>
  </body>
</html>
